@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,regular,500,600,700,800,300italic,italic,500italic,600italic,700italic,800italic&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #282a36;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 106.25rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.875rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.hashtags-line {
  background-color: #343434;
  text-align: center;
  overflow: auto;
}

.hashtags-line__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  gap: 3.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.625rem 0.9375rem;
}

.hashtags-line__item {
  font-weight: 500;
  color: #fff;
  white-space: nowrap;
}

.hashtags-line__item a {
  display: block;
}

._section-title {
  text-align: center;
  font-weight: 700;
}

.contact-block {
  padding: 3.125rem 0;
  background-color: #363636;
}

.contact-block__title {
  color: #fff;
}

.contact-block__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.contact-block__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact-block__socials:not(:last-child) {
  margin-bottom: 2.5rem;
}

.contact-block__socials-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 2.8125rem;
          flex: 0 0 2.8125rem;
}

.contact-block__socials-item svg {
  width: 100%;
}

.contact-block__socials-item svg path:last-child {
  fill: #fff;
}

.contact-block__socials-item._facebook svg path:first-child {
  fill: #3b599f;
}

.contact-block__socials-item._twitter svg path:first-child {
  fill: #33cdf8;
}

.contact-block__socials-item._instagram svg path:first-child {
  fill: #a2755e;
}

.contact-block__socials-item._mail svg path:first-child {
  fill: #1e5597;
}

.form-contact-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.25rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-contact-block__input {
  display: block;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 11.875rem;
          flex: 0 1 11.875rem;
  max-width: 11.875rem;
  padding: 0.625rem;
  font-weight: 700;
  font-size: 1rem;
  outline: none;
  border: 0.0625rem solid transparent;
  background-color: #fff;
  -webkit-transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s;
  transition: border-color 0.3s ease 0s, box-shadow 0.3s ease 0s, background-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
}

.form-contact-block__input::-webkit-input-placeholder {
  color: rgb(141, 141, 141);
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-contact-block__input::-moz-placeholder {
  color: rgb(141, 141, 141);
  -moz-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-contact-block__input:-ms-input-placeholder {
  color: rgb(141, 141, 141);
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-contact-block__input::-ms-input-placeholder {
  color: rgb(141, 141, 141);
  -ms-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-contact-block__input::placeholder {
  color: rgb(141, 141, 141);
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.form-contact-block__input._form-focus {
  border-color: #fff;
  -webkit-box-shadow: 0 0 0.3125rem rgb(255, 255, 255);
          box-shadow: 0 0 0.3125rem rgb(255, 255, 255);
  background-color: rgb(245, 245, 245);
}

.form-contact-block__input._form-error {
  border-color: rgb(224, 0, 0);
  -webkit-box-shadow: 0 0 0.3125rem rgb(224, 0, 0);
          box-shadow: 0 0 0.3125rem rgb(224, 0, 0);
}

.form-contact-block__input._form-error::-webkit-input-placeholder {
  color: rgb(224, 0, 0);
}

.form-contact-block__input._form-error::-moz-placeholder {
  color: rgb(224, 0, 0);
}

.form-contact-block__input._form-error:-ms-input-placeholder {
  color: rgb(224, 0, 0);
}

.form-contact-block__input._form-error::-ms-input-placeholder {
  color: rgb(224, 0, 0);
}

.form-contact-block__input._form-error::placeholder {
  color: rgb(224, 0, 0);
}

.form-contact-block__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 5.9375rem;
          flex: 0 0 5.9375rem;
  padding: 0.625rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  background-color: #ff4400;
  font-weight: 600;
  font-size: 1rem;
  -webkit-transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, border-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, border-color 0.3s ease 0s, -webkit-box-shadow 0.3s ease 0s;
  outline: none;
}

.form-contact-block__button:focus {
  -webkit-box-shadow: 0 0 0.3125rem #ff4400;
          box-shadow: 0 0 0.3125rem #ff4400;
  background-color: #df3e03;
}

._slider-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.125rem;
}

._slider-pagination .swiper-pagination-bullet {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.625rem;
          flex: 0 0 0.625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-radius: 50%;
  background-color: transparent;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  position: relative;
}

._slider-pagination .swiper-pagination-bullet::before {
  content: "";
  position: absolute;
  width: calc(100% + 0.25rem);
  height: calc(100% + 0.25rem);
  top: -0.125rem;
  left: -0.125rem;
  border-radius: 50%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
}

._slider-pagination .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  cursor: pointer;
}

._slider-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__container {
  max-width: 115rem;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5.625rem;
  padding: 1.125rem 0;
}

.menu__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.25rem;
          flex: 0 0 31.25rem;
}

.menu__logo ._logo-text {
  width: 100%;
}

.menu__logo ._logo {
  width: 100%;
  display: none;
}

.menu__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.875rem;
}

.menu__image {
  max-width: 7.5rem;
}

.menu__image img {
  width: 100%;
}

.menu__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.875rem;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.25rem;
}

.menu__list-link {
  font-weight: 700;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-size: 1.125rem;
  line-height: 1;
}

.menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.menu__socials-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
}

.menu__socials-link svg {
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #000;
  -webkit-transition: fill 0.3s ease 0s;
  -o-transition: fill 0.3s ease 0s;
  transition: fill 0.3s ease 0s;
}

.icon-menu {
  display: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.footer__wrapper {
  background-color: #3a3a3a;
  padding: 2.5rem 0;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #fff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 2.5rem;
}

.footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 23.5%;
          flex: 0 0 23.5%;
}

.footer__list-title {
  font-weight: 700;
  line-height: 1.1;
  padding-bottom: 1.5625rem;
  border-bottom: 0.0625rem solid #fff;
}

.footer__list-title:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.footer__list-item:not(:last-child) {
  margin-bottom: 0.625rem;
}

.footer__link {
  font-weight: 500;
  line-height: 1.25;
}

.home__contact {
  border-top: 0.9375rem solid #3b3d42;
}

.main-home__slider {
  position: relative;
}

.main-home__slide {
  position: relative;
}

.main-home__image-ibg {
  width: 100%;
  padding-bottom: 31.25%;
}

.main-home__prev,
.main-home__next {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 1.5625rem;
  height: 1.875rem;
  position: absolute;
  opacity: 0.6;
  z-index: 5;
  top: 50%;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  cursor: pointer;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.main-home__prev:active,
.main-home__next:active {
  opacity: 1;
}

.main-home__prev::before,
.main-home__prev::after,
.main-home__next::before,
.main-home__next::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.4375rem;
  left: 50%;
  background-color: rgb(255, 255, 255);
}

.main-home__prev::before,
.main-home__next::before {
  -webkit-transform: rotate(45deg) translate(-50%, -50%);
      -ms-transform: rotate(45deg) translate(-50%, -50%);
          transform: rotate(45deg) translate(-50%, -50%);
  top: 54%;
}

.main-home__prev::after,
.main-home__next::after {
  -webkit-transform: rotate(-45deg) translate(-50%, 50%);
      -ms-transform: rotate(-45deg) translate(-50%, 50%);
          transform: rotate(-45deg) translate(-50%, 50%);
  bottom: 54%;
}

.main-home__prev.swiper-button-disabled,
.main-home__next.swiper-button-disabled {
  cursor: default;
  opacity: 0.4;
}

.main-home__prev {
  right: 6%;
}

.main-home__next {
  left: 6%;
  -webkit-transform: rotate(180deg) translate(0, 50%);
      -ms-transform: rotate(180deg) translate(0, 50%);
          transform: rotate(180deg) translate(0, 50%);
}

.main-home__pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 5%;
}

.main-home__pagination .swiper-pagination-bullet {
  border: 0.125rem solid #fff;
}

.main-home__pagination .swiper-pagination-bullet::before {
  background-color: #fff;
}

.services-home__title {
  padding: 1.25rem 0;
  background-color: #f4f9f3;
}

.services-home__wrapper {
  background: -webkit-gradient(linear, left top, right top, from(#5d8465), color-stop(50%, #a4d0af), to(#65a255));
  background: -o-linear-gradient(left, #5d8465 0%, #a4d0af 50%, #65a255 100%);
  background: linear-gradient(to right, #5d8465 0%, #a4d0af 50%, #65a255 100%);
  padding: 2.5rem 0;
}

.services-home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.service-home {
  text-align: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 13%;
          flex: 0 0 13%;
}

.service-home__image-ibg_contain {
  width: 7.5rem;
  height: 6.25rem;
  margin: 0 auto;
}

.service-home__image-ibg_contain:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.service-home__title {
  font-weight: 500;
  line-height: 1.25;
}

.service-home__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.service-home__describe {
  font-size: 0.9375rem;
  line-height: 1.5em;
}

.recommendations-home {
  padding-bottom: 1.25rem;
}

.recommendations-home__title {
  padding: 1.25rem 0;
  background-color: #f4f9f3;
}

.recommendations-home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.875rem;
}

.recommendations-home__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 31.5%;
          flex: 0 0 31.5%;
  position: relative;
}

.recommendations-home__item::before {
  content: "";
  position: absolute;
  width: calc(100% + 0.5rem);
  height: calc(100% + 0.5rem);
  top: -0.25rem;
  left: -0.25rem;
  background-color: #fff;
  border: 0.125rem solid #989995;
}

.recommendations-home__image-ibg {
  width: 100%;
  padding-bottom: 86%;
}

.recommendations-home__photo-name {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  padding: 0.625rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.offer-home {
  background-color: #f4f9f3;
  padding: 1.5625rem 0 0.9375rem 0;
}

.offer-home__title:not(:last-child) {
  margin-bottom: 0.625rem;
}

.offer-home__subtitle {
  background-color: #f1b80e;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 0.3125rem 0.625rem;
  color: #fff;
  margin: auto;
  font-size: 1.125rem;
  line-height: 1;
  text-transform: uppercase;
}

.offer-home__subtitle:not(:last-child) {
  margin-bottom: 0.625rem;
}

.offer-home__describe {
  line-height: 1.33;
}

.offer-home__describe:not(:last-child) {
  margin-bottom: 1.25rem;
}

.offer-home__more-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.3125rem;
  color: #fe9700;
  font-weight: 500;
}

.offer-home__more-info svg {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 1.5625rem;
          flex: 0 0 1.5625rem;
  width: 1.5625rem;
  height: 1.5625rem;
  fill: #fe9700;
  display: block;
}

@-webkit-keyframes arrowLeftMove {
  0% {
    margin-right: 0;
  }

  25% {
    margin-right: 0.3125rem;
  }

  50% {
    margin-right: 0;
  }

  75% {
    margin-right: 0.3125rem;
  }

  100% {
    margin-right: 0;
  }
}

@keyframes arrowLeftMove {
  0% {
    margin-right: 0;
  }

  25% {
    margin-right: 0.3125rem;
  }

  50% {
    margin-right: 0;
  }

  75% {
    margin-right: 0.3125rem;
  }

  100% {
    margin-right: 0;
  }
}

.recommendations-month-home {
  padding-bottom: 1.875rem;
}

.recommendations-month-home__decor-image {
  text-align: center;
}

.recommendations-month-home__decor-image:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.recommendations-month-home__title:not(:last-child) {
  margin-bottom: 1.25rem;
}

.recommendations-month-home__wrapper:not(:last-child) {
  margin-bottom: 2.1875rem;
}

.recommendations-month-home__image-ibg {
  width: 100%;
  padding-bottom: 85%;
}

.recommendations-month-home__image-ibg:not(:last-child) {
  margin-bottom: 0.5rem;
}

.recommendations-month-home__recommendation-name {
  text-align: center;
}

.recommendations-month-home__pagination .swiper-pagination-bullet {
  border: 0.125rem solid #282a36;
}

.recommendations-month-home__pagination .swiper-pagination-bullet::before {
  background-color: #282a36;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 110em) {
  ._section-title {
    font-size: 1.75rem;
  }

  .footer__list-title {
    font-size: 1.375rem;
  }

  .service-home__title {
    font-size: 1.375rem;
  }

  .offer-home__title {
    font-size: 2.125rem;
  }
}

@media (max-width: 20em) {
  ._section-title {
    font-size: 1.375rem;
  }

  .footer__list-title {
    font-size: 1.125rem;
  }

  .service-home__title {
    font-size: 1.125rem;
  }

  .offer-home__title {
    font-size: 1.375rem;
  }
}

@media (max-width: 109.375em) {
  .menu {
    gap: 3.125rem;
  }
}

@media (max-width: 93.75em) {
  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 15.625rem;
            flex: 0 0 15.625rem;
  }

  .menu__logo ._logo-text {
    display: none;
  }

  .menu__logo ._logo {
    display: block;
  }

  .services-home__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 2.5rem;
  }

  .service-home {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25%;
            flex: 0 0 25%;
  }
}

@media (max-width: 78.125em) {
  .menu {
    gap: 0.9375rem;
  }

  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13.75rem;
            flex: 0 0 13.75rem;
  }
}

@media (max-width: 71.875em) {
  .menu__body {
    padding-top: 9.375rem;
    padding-bottom: 3.125rem;
    overflow: auto;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    z-index: 15;
    background-color: #fff;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 2.5rem;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 7.8125rem;
    top: 0;
    right: -100%;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    background-color: #fff;
  }

  .menu-open .menu__body::before {
    right: 0;
  }

  .menu__navigation {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2.5rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.875rem;
  }

  .menu__list-link {
    font-size: 1.375rem;
    padding: 0.3125rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 16;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #282a36;
    border-radius: 0.1875rem;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: 50%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: 50%;
    -webkit-transform: rotate(-45deg) translate(0, -50%);
        -ms-transform: rotate(-45deg) translate(0, -50%);
            transform: rotate(-45deg) translate(0, -50%);
  }

  .menu-open .icon-menu::after {
    bottom: 50%;
    -webkit-transform: rotate(45deg) translate(0, 50%);
        -ms-transform: rotate(45deg) translate(0, 50%);
            transform: rotate(45deg) translate(0, 50%);
  }

  .footer__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 5rem;
       -moz-column-gap: 5rem;
            column-gap: 5rem;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 35%;
            flex: 0 0 35%;
  }
}

@media (max-width: 71.875em) and (max-width: 61.99875em) {
  .menu__body::before {
    height: 6.375rem;
  }
}

@media (max-width: 71.875em) and (max-width: 47.99875em) {
  .menu__body::before {
    height: 5.75rem;
  }
}

@media (max-width: 71.875em) and (max-width: 29.99875em) {
  .menu__body::before {
    height: 5.5rem;
  }
}

@media (max-width: 61.99875em) {
  .hashtags-line__list {
    gap: 2.8125rem;
  }

  .menu {
    padding: 0.9375rem 0;
  }

  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 10.9375rem;
            flex: 0 0 10.9375rem;
  }

  .menu__body {
    padding-top: 7.5rem;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }

  .main-home__image-ibg {
    padding-bottom: 46.875%;
  }

  .service-home {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 28.5%;
            flex: 0 0 28.5%;
  }
}

@media (max-width: 47.99875em) {
  [class*=__container] {
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
  }

  .hashtags-line__list {
    gap: 1.875rem;
  }

  .form-contact-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.9375rem;
  }

  .form-contact-block__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
    max-width: none;
  }

  .form-contact-block__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }

  ._slider-pagination {
    gap: 0.3125rem;
  }

  ._slider-pagination .swiper-pagination-bullet {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.9375rem;
            flex: 0 0 0.9375rem;
    width: 0.9375rem;
    height: 0.9375rem;
  }

  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 9.375rem;
            flex: 0 0 9.375rem;
  }

  .menu__body {
    padding-top: 6.25rem;
  }

  .menu__socials {
    gap: 0.9375rem;
  }

  .menu__socials-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.1875rem;
            flex: 0 0 2.1875rem;
  }

  .menu__socials-link svg {
    width: 2.1875rem;
    height: 2.1875rem;
  }

  .footer__body {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
    row-gap: 3.75rem;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .main-home__image-ibg {
    padding-bottom: 100%;
  }

  .services-home__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .service-home {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .recommendations-home__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47.5%;
            flex: 0 0 47.5%;
  }
}

@media (max-width: 29.99875em) {
  .hashtags-line__list {
    gap: 1.25rem;
    padding: 0.5rem 0.9375rem;
  }

  .hashtags-line__item a {
    padding: 0.3125rem;
  }

  .form-contact-block__input {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .form-contact-block__button {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .menu__logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 8.75rem;
            flex: 0 0 8.75rem;
  }

  .footer__body {
    text-align: center;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 85%;
            flex: 0 0 85%;
  }

  .main-home__image-ibg {
    padding-bottom: 130%;
  }

  .service-home {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 75%;
            flex: 0 0 75%;
  }

  .recommendations-home__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

@media (min-width: 20em) and (max-width: 110em) {
@supports (font-size: clamp( 1.375rem , 1.2916666667rem  +  0.4166666667vw , 1.75rem )) {
    ._section-title {
      font-size: clamp( 1.375rem , 1.2916666667rem  +  0.4166666667vw , 1.75rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2916666667rem  +  0.4166666667vw , 1.75rem )) {
    ._section-title {
      font-size: calc(
        1.375rem + 0.375 * (100vw - 20rem) / 90
      );
    }
}

@supports (font-size: clamp( 1.125rem , 1.0694444444rem  +  0.2777777778vw , 1.375rem )) {
    .footer__list-title {
      font-size: clamp( 1.125rem , 1.0694444444rem  +  0.2777777778vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0694444444rem  +  0.2777777778vw , 1.375rem )) {
    .footer__list-title {
      font-size: calc(
        1.125rem + 0.25 * (100vw - 20rem) / 90
      );
    }
}

@supports (font-size: clamp( 1.125rem , 1.0694444444rem  +  0.2777777778vw , 1.375rem )) {
    .service-home__title {
      font-size: clamp( 1.125rem , 1.0694444444rem  +  0.2777777778vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.0694444444rem  +  0.2777777778vw , 1.375rem )) {
    .service-home__title {
      font-size: calc(
        1.125rem + 0.25 * (100vw - 20rem) / 90
      );
    }
}

@supports (font-size: clamp( 1.375rem , 1.2083333333rem  +  0.8333333333vw , 2.125rem )) {
    .offer-home__title {
      font-size: clamp( 1.375rem , 1.2083333333rem  +  0.8333333333vw , 2.125rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.2083333333rem  +  0.8333333333vw , 2.125rem )) {
    .offer-home__title {
      font-size: calc(
        1.375rem + 0.75 * (100vw - 20rem) / 90
      );
    }
}
}

@media (any-hover: hover) {
  .form-contact-block__button:hover {
    background-color: #df3e03;
  }

  .menu__list-link:hover {
    color: #006c9e;
  }

  .menu__socials-link:hover svg {
    fill: #006c9e;
  }

  .footer__link:hover {
    text-decoration: underline;
  }

  .offer-home__more-info:hover svg {
    -webkit-animation: arrowLeftMove 1s;
            animation: arrowLeftMove 1s;
  }
}