.main-game-home {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 73%;
  flex: 0 0 73%;
}

.main-game-home__body {
  width: 100%;
  background: #c8a2c8;
  padding: 1.625rem;
  margin-bottom: 1.875rem;
}

.main-game-home__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-game-home__header:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.main-game-home__game-wrapper {
  background-color: #fff;
  border-radius: 1.25rem;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  height: 31.875rem;
}

.main-game-home__game-wrapper .sc__canvas {
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  top: 0;
  left: 0;
  cursor: url("../img/game/cursor.png") 15 10, default;
}

.main-game-home__start-message {
  position: absolute;
  max-width: 38.4375rem;
  padding: 0 0.9375rem;
  width: 100%;
  z-index: 1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-family: "LOCKDOWN";
  font-style: normal;
  font-weight: 400;
  line-height: 1.36;
  text-align: center;
  color: #ffffff;
  opacity: 1;
  pointer-events: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-stroke: 0.1875rem rgb(58, 5, 109);
}

.main-game-home__start-message span {
  text-transform: uppercase;
  color: rgb(203, 0, 85);
}

.main-game-home__start-message._hide {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}

.main-game-home__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.main-game-home__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  height: 10.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main-game-home__item:not(:nth-child(3n)) {
  border-right: 0.125rem dashed rgba(56, 25, 146, 0.03);
}

.main-game-home__item:not(:nth-child(n + 7)) {
  border-bottom: 0.125rem dashed rgba(56, 25, 146, 0.03);
}

.main-game-home__image-ibg {
  width: 5rem;
  height: 5rem;
  pointer-events: none;
  -moz-user-select: none;
  -o-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.final-message-game {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0, 1);
  -ms-transform: scale(0, 1);
  transform: scale(0, 1);
}

.final-message-game._active {
  -webkit-transition: -webkit-transform 0.5s ease 0s;
  transition: -webkit-transform 0.5s ease 0s;
  -o-transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s;
  transition: transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  z-index: 5;
}

.final-message-game__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 0.8125rem;
  padding: 1.5625rem 0;
  background: rgba(58, 5, 109, 0.94);
  border-width: 0.0625rem 0;
  border-style: dashed;
  border-color: #7305ff;
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.final-message-game__body p {
  font-family: "Mali";
  font-style: normal;
  font-weight: 300;
  font-size: 1.3125rem;
  line-height: 1.2857142857;
  color: #ffffff;
}

.final-message-game__body::before {
  content: "";
  width: 1.625rem;
  height: 2.625rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 1.625rem;
  flex: 0 0 1.625rem;
  background: url("../img/game/tree-for-congrats.svg") center/contain no-repeat;
}

@media (min-width: 73.125em) {
  .main-game-home__start-message {
    font-size: 4.6875rem;
  }
}
@media (max-width: 20em) {
  .main-game-home__start-message {
    font-size: 2.125rem;
  }
}
@media (max-width: 61.99875em) {
  .main-game-home__body {
    margin-bottom: 0;
  }

  .main-game-home__game-wrapper {
    border-radius: 0.625rem;
  }
}
@media (max-width: 47.99875em) {
  .main-game-home__game-wrapper {
    border-radius: 0;
  }

  .main-game-home__image-ibg {
    width: 4.375rem;
    height: 4.375rem;
  }
}
@media (max-width: 29.99875em) {
  .main-game-home__body {
    padding: 1.625rem 1.125rem;
  }

  .main-game-home__image-ibg {
    width: 3.75rem;
    height: 3.75rem;
  }
}
@media (min-width: 20em) and (max-width: 73.125em) {
  @supports (
    font-size: clamp(2.125rem, 1.1602941176rem + 4.8235294118vw, 4.6875rem)
  ) {
    .main-game-home__start-message {
      font-size: clamp(2.125rem, 1.1602941176rem + 4.8235294118vw, 4.6875rem);
    }
  }

  @supports not (
    font-size: clamp(2.125rem, 1.1602941176rem + 4.8235294118vw, 4.6875rem)
  ) {
    .main-game-home__start-message {
      font-size: calc(2.125rem + 2.5625 * (100vw - 20rem) / 53.125);
    }
  }
}
