@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap);

@charset "UTF-8";

* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	height: 100%;
	min-width: 320px;
}

body {
	color: #000;
	line-height: 1;
	font-family: "Roboto";
	font-size: 0.875rem;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
	font-family: "Roboto";
	font-size: inherit;
}

button {
	cursor: pointer;
	color: inherit;
	background-color: inherit;
}

a {
	color: inherit;
}

a:link,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

.lock body {
	overflow: hidden;
	-ms-touch-action: none;
	touch-action: none;
}

.wrapper {
	min-height: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	overflow: hidden;
}

.wrapper > main {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*="__container"] {
	max-width: 68.125rem;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	margin: 0 auto;
}

[class*="-ibg"] {
	position: relative;
}

[class*="-ibg"] img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	-o-object-fit: cover;
	object-fit: cover;
}

[class*="-ibg_contain"] img {
	-o-object-fit: contain;
	object-fit: contain;
}

.page {
	color: #222222;
	font-family: "Roboto";
}

.page__title {
	font-style: normal;
	font-weight: 500;
	font-size: 1.875rem;
	line-height: 1.1666666667;
}

@supports (margin-bottom: clamp(1.5625rem, 0.0870901639rem + 4.9180327869vw, 3.4375rem)) {
	.page__title:not(:last-child) {
		margin-bottom: clamp(1.5625rem, 0.0870901639rem + 4.9180327869vw, 3.4375rem);
	}
}

@supports not (margin-bottom: clamp(1.5625rem, 0.0870901639rem + 4.9180327869vw, 3.4375rem)) {
	.page__title:not(:last-child) {
		margin-bottom: calc(1.5625rem + 1.875 * (100vw - 30rem) / 38.125);
	}
}

.page__subtitle {
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 1.1666666667;
}

.page__services-cards:not(:last-child) {
	margin-bottom: 5.625rem;
}

.page__services-category:not(:last-child) {
	margin-bottom: 1.875rem;
}

.page__services-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-column-gap: 0.9375rem;
	-moz-column-gap: 0.9375rem;
	column-gap: 0.9375rem;
	row-gap: 1.875rem;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

@supports (margin-bottom: clamp(1.875rem, 0.1536885246rem + 5.737704918vw, 4.0625rem)) {
	.page__services-block:not(:last-child) {
		margin-bottom: clamp(1.875rem, 0.1536885246rem + 5.737704918vw, 4.0625rem);
	}
}

@supports not (margin-bottom: clamp(1.875rem, 0.1536885246rem + 5.737704918vw, 4.0625rem)) {
	.page__services-block:not(:last-child) {
		margin-bottom: calc(1.875rem + 2.1875 * (100vw - 30rem) / 38.125);
	}
}

.service-page {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 48.623853211%;
	flex: 0 0 48.623853211%;
	padding: 1.875rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #f4f4f4;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	border-radius: 0.3125rem;
}

@supports (gap: clamp(0.9375rem, -1.2985248447rem + 4.6583850932vw, 1.875rem)) {
	.service-page {
		gap: clamp(0.9375rem, -1.2985248447rem + 4.6583850932vw, 1.875rem);
	}
}

@supports not (gap: clamp(0.9375rem, -1.2985248447rem + 4.6583850932vw, 1.875rem)) {
	.service-page {
		gap: calc(0.9375rem + 0.9375 * (100vw - 48rem) / 20.125);
	}
}

.service-page__img-block {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 12.0625rem;
	flex: 0 1 12.0625rem;
}

.service-page__image-ibg {
	padding-bottom: 64.7668393782%;
	width: 100%;
}

.service-page__image-ibg img {
	border-radius: 0.3125rem;
}

.service-page__text-content {
	max-width: 11.75rem;
}

.service-page__title {
	font-weight: 500;
	font-size: 1.375rem;
	line-height: 1.1818181818;
}

.service-page__title:not(:last-child) {
	margin-bottom: 0.875rem;
}

.service-page__link {
	font-weight: 500;
	font-size: 0.875rem;
	line-height: 1.1428571429;
	color: #4e7df1;
	display: inline-block;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	gap: 0.6875rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-transition: color 0.3s ease 0s, gap 0.3s ease 0s;
	-o-transition: color 0.3s ease 0s, gap 0.3s ease 0s;
	transition: color 0.3s ease 0s, gap 0.3s ease 0s;
}

.service-page__link::after {
	content: url("../img/svg/arrow-right.svg");
}

.consultation-page {
	background: url("../img/main/consultation/cover.jpg") center/cover no-repeat;
	overflow: hidden;
	padding-right: 0.9375rem;
	position: relative;
	color: #fff;
}

@supports (padding-top: clamp(1.5rem, -0.1229508197rem + 5.4098360656vw, 3.5625rem)) {
	.consultation-page {
		padding-top: clamp(1.5rem, -0.1229508197rem + 5.4098360656vw, 3.5625rem);
	}
}

@supports not (padding-top: clamp(1.5rem, -0.1229508197rem + 5.4098360656vw, 3.5625rem)) {
	.consultation-page {
		padding-top: calc(1.5rem + 2.0625 * (100vw - 30rem) / 38.125);
	}
}

@supports (padding-bottom: clamp(1.5rem, -0.1229508197rem + 5.4098360656vw, 3.5625rem)) {
	.consultation-page {
		padding-bottom: clamp(1.5rem, -0.1229508197rem + 5.4098360656vw, 3.5625rem);
	}
}

@supports not (padding-bottom: clamp(1.5rem, -0.1229508197rem + 5.4098360656vw, 3.5625rem)) {
	.consultation-page {
		padding-bottom: calc(1.5rem + 2.0625 * (100vw - 30rem) / 38.125);
	}
}

@supports (padding-left: clamp(0.9375rem, -5.2100409836rem + 20.4918032787vw, 8.75rem)) {
	.consultation-page {
		padding-left: clamp(0.9375rem, -5.2100409836rem + 20.4918032787vw, 8.75rem);
	}
}

@supports not (padding-left: clamp(0.9375rem, -5.2100409836rem + 20.4918032787vw, 8.75rem)) {
	.consultation-page {
		padding-left: calc(0.9375rem + 7.8125 * (100vw - 30rem) / 38.125);
	}
}

.consultation-page:not(:last-child) {
	margin-bottom: 5.625rem;
}

.consultation-page__content {
	position: relative;
	z-index: 4;
}

.consultation-page__title {
	line-height: 1.18;
	font-weight: 700;
}

@supports (font-size: clamp(1.5625rem, 0.8234797297rem + 3.3783783784vw, 3.125rem)) {
	.consultation-page__title {
		font-size: clamp(1.5625rem, 0.8234797297rem + 3.3783783784vw, 3.125rem);
	}
}

@supports not (font-size: clamp(1.5625rem, 0.8234797297rem + 3.3783783784vw, 3.125rem)) {
	.consultation-page__title {
		font-size: calc(1.5625rem + 1.5625 * (100vw - 21.875rem) / 46.25);
	}
}

.consultation-page__title span {
	text-transform: uppercase;
}

.consultation-page__title:not(:last-child) {
	margin-bottom: 1.875rem;
}

.consultation-page__text {
	line-height: 1.1666666667;
	font-weight: 400;
}

@supports (font-size: clamp(0.75rem, 0.4360047847rem + 1.4354066986vw, 1.125rem)) {
	.consultation-page__text {
		font-size: clamp(0.75rem, 0.4360047847rem + 1.4354066986vw, 1.125rem);
	}
}

@supports not (font-size: clamp(0.75rem, 0.4360047847rem + 1.4354066986vw, 1.125rem)) {
	.consultation-page__text {
		font-size: calc(0.75rem + 0.375 * (100vw - 21.875rem) / 26.125);
	}
}

@supports (width: clamp(15.875rem, 4.0225409836rem + 39.5081967213vw, 30.9375rem)) {
	.consultation-page__text {
		width: clamp(15.875rem, 4.0225409836rem + 39.5081967213vw, 30.9375rem);
	}
}

@supports not (width: clamp(15.875rem, 4.0225409836rem + 39.5081967213vw, 30.9375rem)) {
	.consultation-page__text {
		width: calc(15.875rem + 15.0625 * (100vw - 30rem) / 38.125);
	}
}

.consultation-page__text:not(:last-child) {
	margin-bottom: 2.1875rem;
}

.consultation-page__link {
	font-weight: 500;
	font-size: 1rem;
	line-height: 1.1875;
	padding: 0.9375rem 1.25rem;
	background-color: #4e7df1;
	border-radius: 0.3125rem;
	transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s;
}
@media (any-hover: hover) {
	.consultation-page__link:hover {
		background-color: #4068cc;
		box-shadow: 0 0 0.75rem #4068cc;
	}
}

.consultation-page__decor {
	position: absolute;
	z-index: 2;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.consultation-page__decor-1 {
	position: absolute;
	opacity: 0.8;
	background-color: #0e296c;
	-webkit-transform: rotate(59.69deg);
	-ms-transform: rotate(59.69deg);
	transform: rotate(59.69deg);
}

@supports (width: clamp(27.4375rem, 10.568647541rem + 56.2295081967vw, 48.875rem)) {
	.consultation-page__decor-1 {
		width: clamp(27.4375rem, 10.568647541rem + 56.2295081967vw, 48.875rem);
	}
}

@supports not (width: clamp(27.4375rem, 10.568647541rem + 56.2295081967vw, 48.875rem)) {
	.consultation-page__decor-1 {
		width: calc(27.4375rem + 21.4375 * (100vw - 30rem) / 38.125);
	}
}

@supports (height: clamp(20.625rem, 14.7423986486rem + 26.8918918919vw, 33.0625rem)) {
	.consultation-page__decor-1 {
		height: clamp(20.625rem, 14.7423986486rem + 26.8918918919vw, 33.0625rem);
	}
}

@supports not (height: clamp(20.625rem, 14.7423986486rem + 26.8918918919vw, 33.0625rem)) {
	.consultation-page__decor-1 {
		height: calc(20.625rem + 12.4375 * (100vw - 21.875rem) / 46.25);
	}
}

@supports (left: clamp(-4.0625rem, -6.0297131148rem + 6.5573770492vw, -1.5625rem)) {
	.consultation-page__decor-1 {
		left: clamp(-4.0625rem, -6.0297131148rem + 6.5573770492vw, -1.5625rem);
	}
}

@supports not (left: clamp(-4.0625rem, -6.0297131148rem + 6.5573770492vw, -1.5625rem)) {
	.consultation-page__decor-1 {
		left: calc(-4.0625rem + 2.5 * (100vw - 30rem) / 38.125);
	}
}

@supports (top: clamp(-6.75rem, 2.8545081967rem + -14.0983606557vw, -1.375rem)) {
	.consultation-page__decor-1 {
		top: clamp(-6.75rem, 2.8545081967rem + -14.0983606557vw, -1.375rem);
	}
}

@supports not (top: clamp(-6.75rem, 2.8545081967rem + -14.0983606557vw, -1.375rem)) {
	.consultation-page__decor-1 {
		top: calc(-1.375rem + -5.375 * (100vw - 30rem) / 38.125);
	}
}

.consultation-page__decor-2 {
	position: absolute;
	top: 10.9422492401%;
	right: 1.5596330275%;
	opacity: 0.8;
	background-color: #0e296c;
	-webkit-transform: rotate(59.69deg);
	-ms-transform: rotate(59.69deg);
	transform: rotate(59.69deg);
}

@supports (width: clamp(27.4375rem, 10.568647541rem + 56.2295081967vw, 48.875rem)) {
	.consultation-page__decor-2 {
		width: clamp(27.4375rem, 10.568647541rem + 56.2295081967vw, 48.875rem);
	}
}

@supports not (width: clamp(27.4375rem, 10.568647541rem + 56.2295081967vw, 48.875rem)) {
	.consultation-page__decor-2 {
		width: calc(27.4375rem + 21.4375 * (100vw - 30rem) / 38.125);
	}
}

@supports (height: clamp(2.125rem, 0.9425675676rem + 5.4054054054vw, 4.625rem)) {
	.consultation-page__decor-2 {
		height: clamp(2.125rem, 0.9425675676rem + 5.4054054054vw, 4.625rem);
	}
}

@supports not (height: clamp(2.125rem, 0.9425675676rem + 5.4054054054vw, 4.625rem)) {
	.consultation-page__decor-2 {
		height: calc(2.125rem + 2.5 * (100vw - 21.875rem) / 46.25);
	}
}

@supports (right: clamp(-10.9375rem, -16.7334183673rem + 26.1224489796vw, 1.0625rem)) {
	.consultation-page__decor-2 {
		right: clamp(-10.9375rem, -16.7334183673rem + 26.1224489796vw, 1.0625rem);
	}
}

@supports not (right: clamp(-10.9375rem, -16.7334183673rem + 26.1224489796vw, 1.0625rem)) {
	.consultation-page__decor-2 {
		right: calc(-10.9375rem + 12 * (100vw - 22.1875rem) / 45.9375);
	}
}

@supports (top: clamp(2.25rem, 12.1895491803rem + -14.5901639344vw, 7.8125rem)) {
	.consultation-page__decor-2 {
		top: clamp(2.25rem, 12.1895491803rem + -14.5901639344vw, 7.8125rem);
	}
}

@supports not (top: clamp(2.25rem, 12.1895491803rem + -14.5901639344vw, 7.8125rem)) {
	.consultation-page__decor-2 {
		top: calc(7.8125rem + -5.5625 * (100vw - 30rem) / 38.125);
	}
}

.consultation-page__rings-one {
	position: absolute;
	z-index: 3;
	width: 3.4375rem;
	height: 4.3125rem;
}

@supports (top: clamp(3.875rem, 1.9788961039rem + 9.4805194805vw, 8.4375rem)) {
	.consultation-page__rings-one {
		top: clamp(3.875rem, 1.9788961039rem + 9.4805194805vw, 8.4375rem);
	}
}

@supports not (top: clamp(3.875rem, 1.9788961039rem + 9.4805194805vw, 8.4375rem)) {
	.consultation-page__rings-one {
		top: calc(3.875rem + 4.5625 * (100vw - 20rem) / 48.125);
	}
}

@supports (left: clamp(2rem, 3.1501623377rem + -1.6883116883vw, 2.8125rem)) {
	.consultation-page__rings-one {
		left: clamp(2rem, 3.1501623377rem + -1.6883116883vw, 2.8125rem);
	}
}

@supports not (left: clamp(2rem, 3.1501623377rem + -1.6883116883vw, 2.8125rem)) {
	.consultation-page__rings-one {
		left: calc(2.8125rem + -0.8125 * (100vw - 20rem) / 48.125);
	}
}

.consultation-page__rings-block {
	position: absolute;
	width: 11.25rem;
	height: 13.0625rem;
	z-index: 3;
}

@supports (top: clamp(0.625rem, -2.8176229508rem + 11.4754098361vw, 5rem)) {
	.consultation-page__rings-block {
		top: clamp(0.625rem, -2.8176229508rem + 11.4754098361vw, 5rem);
	}
}

@supports not (top: clamp(0.625rem, -2.8176229508rem + 11.4754098361vw, 5rem)) {
	.consultation-page__rings-block {
		top: calc(0.625rem + 4.375 * (100vw - 30rem) / 38.125);
	}
}

@supports (right: clamp(0.625rem, -7.8685064935rem + 42.4675324675vw, 21.0625rem)) {
	.consultation-page__rings-block {
		right: clamp(0.625rem, -7.8685064935rem + 42.4675324675vw, 21.0625rem);
	}
}

@supports not (right: clamp(0.625rem, -7.8685064935rem + 42.4675324675vw, 21.0625rem)) {
	.consultation-page__rings-block {
		right: calc(0.625rem + 20.4375 * (100vw - 20rem) / 48.125);
	}
}

.consultation-page__ring::before {
	content: url("../img/main/consultation/ring.png");
}

.consultation-page__ring_1 {
	width: 100%;
	height: 100%;
	-webkit-transform: rotate(-26.81deg);
	-ms-transform: rotate(-26.81deg);
	transform: rotate(-26.81deg);
}

.consultation-page__ring_2 {
	width: 2.375rem;
	height: 3.0625rem;
	opacity: 0.6;
	position: absolute;
	bottom: 2.8125rem;
	left: 0;
	-webkit-transform: scale(0.6) rotate(-135.49deg);
	-ms-transform: scale(0.6) rotate(-135.49deg);
	transform: scale(0.6) rotate(-135.49deg);
}

.consultation-page__ring_3 {
	width: 4.6875rem;
	height: 4.6875rem;
	position: absolute;
	bottom: 0;
	left: 3.5625rem;
}

.consultation-page__ring_4 {
	width: 4.6875rem;
	height: 5.9375rem;
	-webkit-transform: rotate(-89.95deg);
	-ms-transform: rotate(-89.95deg);
	transform: rotate(-89.95deg);
	position: absolute;
	top: 0;
	right: 0;
}

.description-page:not(:last-child) {
	margin-bottom: 5.625rem;
}

.description-page__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	gap: 1.25rem;
}

.description-page__text {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 35.125rem;
	flex: 0 1 35.125rem;
	font-weight: 400;
	font-size: 0.875rem;
	line-height: 1.1428571429;
}

.description-page__image-ibg {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 30.125rem;
	flex: 0 0 30.125rem;
	padding-bottom: 13.875rem;
}

@media (max-width: 25em) {
	.service-page {
		padding: 0.9375rem;
		gap: 0.9375rem;
	}

	.consultation-page__decor-2 {
		top: 1.25rem;
	}
}

@media (max-width: 62.5em) {
	.service-page {
		padding: 1.875rem 0.9375rem;
	}
}

@media (max-width: 61.99875em) {
	.description-page__image-ibg {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25rem;
		flex: 0 0 25rem;
	}
}

@media (max-width: 47.99875em) {
	.page__services-block {
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}

	.service-page {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		padding: 1.875rem;
	}

	@supports (gap: clamp(1.875rem, -5.4171730676rem + 24.3072435586vw, 6.25rem)) {
		.service-page {
			gap: clamp(1.875rem, -5.4171730676rem + 24.3072435586vw, 6.25rem);
		}
	}

	@supports not (gap: clamp(1.875rem, -5.4171730676rem + 24.3072435586vw, 6.25rem)) {
		.service-page {
			gap: calc(1.875rem + 4.375 * (100vw - 30rem) / 17.99875);
		}
	}

	.consultation-page__rings-one {
		-webkit-transform: scale(0.72);
		-ms-transform: scale(0.72);
		transform: scale(0.72);
	}

	.consultation-page__rings-block {
		-webkit-transform: scale(0.75);
		-ms-transform: scale(0.75);
		transform: scale(0.75);
	}

	.description-page__body {
		-webkit-box-pack: start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}

	.description-page__text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 85%;
		flex: 0 0 85%;
	}

	.description-page__image-ibg {
		display: none;
	}
}

@media (max-width: 29.99875em) {
	.page__title {
		font-size: 1.25rem;
	}

	.page__subtitle {
		font-size: 1.1875rem;
	}

	.page__services-cards:not(:last-child) {
		margin-bottom: 4.6875rem;
	}

	.page__services-category:not(:last-child) {
		margin-bottom: 1.25rem;
	}

	.page__services-block {
		row-gap: 0.9375rem;
	}

	.service-page__img-block {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 9.375rem;
		flex: 0 0 9.375rem;
	}

	.service-page__title {
		font-size: 1.125rem;
	}

	.service-page__link {
		font-size: 0.75rem;
	}

	.consultation-page:not(:last-child) {
		margin-bottom: 4.6875rem;
	}

	.consultation-page__link {
		font-size: 0.875rem;
	}

	.consultation-page__decor-2 {
		top: 3.75rem;
	}

	.consultation-page__rings-one {
		-webkit-transform: scale(0.545);
		-ms-transform: scale(0.545);
		transform: scale(0.545);
	}

	.consultation-page__rings-block {
		width: 9.375rem;
		-webkit-transform: scale(0.7);
		-ms-transform: scale(0.7);
		transform: scale(0.7);
	}

	.description-page:not(:last-child) {
		margin-bottom: 4.6875rem;
	}

	.description-page__text {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
	}
}

@media (max-width: 24.375em) {
	.service-page__img-block {
		-webkit-box-flex: 0;
		-ms-flex: 0 0 7.3125rem;
		flex: 0 0 7.3125rem;
	}

	.service-page__image-ibg {
		padding-bottom: 4.75rem;
	}
}

@media (max-width: 23.4375em) {
	.service-page__title {
		font-size: 0.875rem;
	}
}

@media (max-width: 22.1875rem) {
	.consultation-page__decor-1 {
		-webkit-transform: matrix(0.43, 1.13, -0.65, 0.58, 0, 0);
		-ms-transform: matrix(0.43, 1.13, -0.65, 0.58, 0, 0);
		transform: matrix(0.43, 1.13, -0.65, 0.58, 0, 0);
		left: -4.375rem;
	}
}

@media (max-width: 22.1875em) {
	.consultation-page__decor-2 {
		-webkit-transform: matrix(0.43, 1.13, -0.65, 0.58, 0, 0);
		-ms-transform: matrix(0.43, 1.13, -0.65, 0.58, 0, 0);
		transform: matrix(0.43, 1.13, -0.65, 0.58, 0, 0);
	}
}

@media (max-width: 47.99875em) and (min-width: 47.99875em) {
	.service-page {
		gap: inherit;
	}
}

@media (any-hover: hover) {
	.service-page__link:hover {
		color: #3657aa;
		gap: 1.25rem;
	}
}
