@import url(https://fonts.googleapis.com/css?family=Roboto:regular,600,700&display=swap);

@charset "UTF-8";

@font-face {
  font-family: Krylon;
  font-display: swap;
  src: url("../fonts/Krylon-Regular.woff2") format("woff2"), url("../fonts/Krylon-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #fff;
  line-height: 1;
  font-family: "Roboto";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #161616;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 107.1875rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._section-title {
  font-family: "Krylon";
  font-style: normal;
  font-weight: 400;
  line-height: 90%;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

@supports (font-size: clamp( 1.4375rem , 0.8620614035rem  +  2.8771929825vw , 4rem )) {
  ._section-title {
    font-size: clamp( 1.4375rem , 0.8620614035rem  +  2.8771929825vw , 4rem );
  }
}

@supports not (font-size: clamp( 1.4375rem , 0.8620614035rem  +  2.8771929825vw , 4rem )) {
  ._section-title {
    font-size: calc(1.4375rem + 2.5625 * (100vw - 20rem) / 89.0625);
  }
}

._main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #9d274b;
  border-radius: 6.1875rem;
  text-transform: uppercase;
  margin: 0 auto;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0.05em;
  padding: 1.875rem 0;
  outline: none;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@supports (font-size: clamp( 0.875rem , 0.6320850202rem  +  0.8097165992vw , 1.5rem )) {
  ._main-button {
    font-size: clamp( 0.875rem , 0.6320850202rem  +  0.8097165992vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.6320850202rem  +  0.8097165992vw , 1.5rem )) {
  ._main-button {
    font-size: calc(0.875rem + 0.625 * (100vw - 30rem) / 77.1875);
  }
}

._main-button:active {
  background-color: #80213d;
}

._swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.75rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

._swiper-pagination .swiper-pagination-bullet {
  border: 0.125rem solid #9e9e9e;
  border-radius: 6.3125rem;
  width: 0.75rem;
  height: 0.75rem;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

._swiper-pagination .swiper-pagination-bullet-active {
  width: 4.5rem;
  background-color: #ffffff;
  border-color: #fff;
}

.header {
  background-color: #000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

.header__first-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__first-logo p {
  font-family: "Krylon";
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.05em;
  line-height: 90%;
}

.header__main-logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.1875rem;
          flex: 0 0 8.1875rem;
}

.header__main-logo img {
  width: 100%;
}

.menu {
  padding: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.menu__body {
  position: fixed;
  z-index: 15;
  top: 6.3125rem;
  left: -100%;
  width: 100%;
  height: calc(100% - 6.3125rem);
  background-color: #101010;
  overflow: auto;
  -webkit-transition: left 0.75s ease 0s;
  -o-transition: left 0.75s ease 0s;
  transition: left 0.75s ease 0s;
}

.spollers-menu {
  margin-top: 6.25rem;
}

.spollers-menu__title {
  font-family: "Krylon";
  font-style: normal;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 90%;
  letter-spacing: 0.05em;
  color: #ff3874;
}

.spollers-menu__title:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.spollers-menu__list {
  padding-bottom: 0.9375rem;
}

.spollers-menu__list-item:not(:last-child) {
  margin-bottom: 1.5625rem;
}

.spollers-menu__link {
  font-size: 1.375rem;
  line-height: 90%;
  letter-spacing: 0.05em;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.spollers-menu__link:active {
  color: #ff3874;
}

.icon-menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: block;
  position: relative;
  width: 1.5rem;
  height: 0.625rem;
  cursor: pointer;
  z-index: 5;
}

.icon-menu::before,
.icon-menu::after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  left: 0;
  position: absolute;
  height: 0.1875rem;
  background-color: #fff;
}

.icon-menu::before {
  width: 100%;
  top: 0;
}

.icon-menu::after {
  width: 62.5%;
  bottom: 0;
}

.menu-open .icon-menu::before,
.menu-open .icon-menu::after {
  width: 100%;
  height: 0.0625rem;
}

.menu-open .icon-menu::before {
  top: 50%;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-open .icon-menu::after {
  bottom: calc(50% - 0.0625rem);
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-open .menu__body {
  left: 0;
}

.main-home {
  position: relative;
}

.main-home::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 16.6666666667%;
  bottom: -8%;
  left: 0;
  background-color: #161616;
  -webkit-filter: blur(4.5625rem);
          filter: blur(4.5625rem);
}

.main-home__image-ibg {
  width: 100%;
  padding-bottom: 46.875%;
}

.main-home__slider-pagination {
  position: absolute;
  z-index: 5;
  bottom: 5.3333333333%;
  left: 0;
  width: 100%;
}

@supports (padding-top: clamp( 3.125rem , 2.423245614rem  +  3.5087719298vw , 6.25rem )) {
  .expertise-home {
    padding-top: clamp( 3.125rem , 2.423245614rem  +  3.5087719298vw , 6.25rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.423245614rem  +  3.5087719298vw , 6.25rem )) {
  .expertise-home {
    padding-top: calc(3.125rem + 3.125 * (100vw - 20rem) / 89.0625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 1.5530701754rem  +  7.8596491228vw , 10.125rem )) {
  .expertise-home {
    padding-bottom: clamp( 3.125rem , 1.5530701754rem  +  7.8596491228vw , 10.125rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 1.5530701754rem  +  7.8596491228vw , 10.125rem )) {
  .expertise-home {
    padding-bottom: calc(3.125rem + 7 * (100vw - 20rem) / 89.0625);
  }
}

.expertise-home__title {
  position: relative;
  z-index: 5;
}

@supports (padding-top: clamp( 3.125rem , 1.5811403509rem  +  7.7192982456vw , 10rem )) {
  .our-projects-home {
    padding-top: clamp( 3.125rem , 1.5811403509rem  +  7.7192982456vw , 10rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 1.5811403509rem  +  7.7192982456vw , 10rem )) {
  .our-projects-home {
    padding-top: calc(3.125rem + 6.875 * (100vw - 20rem) / 89.0625);
  }
}

@supports (padding-bottom: clamp( 3.125rem , 2.5495614035rem  +  2.8771929825vw , 5.6875rem )) {
  .our-projects-home {
    padding-bottom: clamp( 3.125rem , 2.5495614035rem  +  2.8771929825vw , 5.6875rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.5495614035rem  +  2.8771929825vw , 5.6875rem )) {
  .our-projects-home {
    padding-bottom: calc(3.125rem + 2.5625 * (100vw - 20rem) / 89.0625);
  }
}

.our-projects-home__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-projects-home__body:not(:last-child) {
  margin-bottom: 10.2040816327%;
}

.our-projects-home__item_last {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.7463556851%;
          flex: 0 0 8.7463556851%;
}

.our-projects-home__item_last:first-child {
  margin-left: 3.125rem;
}

.our-projects-home__item_last .our-projects-home__image-ibg {
  padding-bottom: 300%;
}

.our-projects-home__item_last .our-projects-home__text-block {
  left: -50%;
  top: 90%;
}

.our-projects-home__item_middle {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11.6618075802%;
          flex: 0 0 11.6618075802%;
}

.our-projects-home__item_middle .our-projects-home__image-ibg {
  padding-bottom: 300%;
  margin-top: 70%;
}

.our-projects-home__item_middle .our-projects-home__text-block {
  left: -42%;
  top: 90%;
}

.our-projects-home__item_center {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 15.1603498542%;
          flex: 0 0 15.1603498542%;
}

.our-projects-home__item_center .our-projects-home__image-ibg {
  margin-top: 105.7692307692%;
  padding-bottom: 300%;
}

.our-projects-home__item_center .our-projects-home__text-block {
  left: -30%;
  top: 96%;
}

.our-projects-home__image-ibg {
  position: relative;
}

.our-projects-home__text-block {
  position: absolute;
  font-family: "Krylon";
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.05em;
}

.our-projects-home__number {
  line-height: 90%;
}

@supports (font-size: clamp( 0.75rem , 0.1605263158rem  +  2.9473684211vw , 3.375rem )) {
  .our-projects-home__number {
    font-size: clamp( 0.75rem , 0.1605263158rem  +  2.9473684211vw , 3.375rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.1605263158rem  +  2.9473684211vw , 3.375rem )) {
  .our-projects-home__number {
    font-size: calc(0.75rem + 2.625 * (100vw - 20rem) / 89.0625);
  }
}

.our-projects-home__number:not(:last-child) {
  margin-bottom: 0.5925925926em;
}

.our-projects-home__name {
  line-height: 105%;
}

@supports (font-size: clamp( 0.5rem , 0.2192982456rem  +  1.4035087719vw , 1.75rem )) {
  .our-projects-home__name {
    font-size: clamp( 0.5rem , 0.2192982456rem  +  1.4035087719vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 0.5rem , 0.2192982456rem  +  1.4035087719vw , 1.75rem )) {
  .our-projects-home__name {
    font-size: calc(0.5rem + 1.25 * (100vw - 20rem) / 89.0625);
  }
}

.our-projects-home__name:not(:last-child) {
  margin-bottom: 0.5714285714em;
}

.our-projects-home__client {
  line-height: 90%;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

@supports (font-size: clamp( 0.375rem , 0.2346491228rem  +  0.701754386vw , 1rem )) {
  .our-projects-home__client {
    font-size: clamp( 0.375rem , 0.2346491228rem  +  0.701754386vw , 1rem );
  }
}

@supports not (font-size: clamp( 0.375rem , 0.2346491228rem  +  0.701754386vw , 1rem )) {
  .our-projects-home__client {
    font-size: calc(0.375rem + 0.625 * (100vw - 20rem) / 89.0625);
  }
}

.our-projects-home__link {
  width: 18.75rem;
}

.about-us-home__container {
  position: relative;
}

@supports (padding-top: clamp( 3.125rem , 2.5495614035rem  +  2.8771929825vw , 5.6875rem )) {
  .about-us-home__container {
    padding-top: clamp( 3.125rem , 2.5495614035rem  +  2.8771929825vw , 5.6875rem );
  }
}

@supports not (padding-top: clamp( 3.125rem , 2.5495614035rem  +  2.8771929825vw , 5.6875rem )) {
  .about-us-home__container {
    padding-top: calc(3.125rem + 2.5625 * (100vw - 20rem) / 89.0625);
  }
}

@supports (padding-bottom: clamp( 1.5625rem , -6.3821640316rem  +  26.4822134387vw , 22.5rem )) {
  .about-us-home__container {
    padding-bottom: clamp( 1.5625rem , -6.3821640316rem  +  26.4822134387vw , 22.5rem );
  }
}

@supports not (padding-bottom: clamp( 1.5625rem , -6.3821640316rem  +  26.4822134387vw , 22.5rem )) {
  .about-us-home__container {
    padding-bottom: calc(1.5625rem + 20.9375 * (100vw - 30rem) / 79.0625);
  }
}

.about-us-home__title:not(:last-child) {
  margin-bottom: 3.6833333333em;
}

.about-us-home__text-block {
  max-width: 47.875rem;
}

.about-us-home__text-block p {
  line-height: 175%;
  letter-spacing: 0.05em;
}

@supports (font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.5rem )) {
  .about-us-home__text-block p {
    font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 0.75rem , 0.5815789474rem  +  0.8421052632vw , 1.5rem )) {
  .about-us-home__text-block p {
    font-size: calc(0.75rem + 0.75 * (100vw - 20rem) / 89.0625);
  }
}

.about-us-home__name {
  font-family: "Krylon";
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.about-us-home__name:not(:last-child) {
  margin-bottom: 0.40625em;
}

.about-us-home__role {
  font-size: 1.5rem;
  line-height: 150%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ff3874;
}

.about-us-home__role:not(:last-child) {
  margin-bottom: 2.5em;
}

.about-us-home__image-ibg_contain {
  position: absolute;
  width: 72.3782234957%;
  padding-bottom: 89.2263610315%;
  z-index: -1;
  bottom: 5%;
  right: -15.5%;
}

.about-us-home__image-ibg_contain::after {
  content: "";
  position: absolute;
  bottom: -7%;
  left: 0;
  width: 100%;
  height: 15.8353127474%;
  background: #161616;
  -webkit-filter: blur(3.4375rem);
          filter: blur(3.4375rem);
  -webkit-transform: rotate(1.87deg);
      -ms-transform: rotate(1.87deg);
          transform: rotate(1.87deg);
}

.services-home {
  padding-top: 3.125rem;
}

@supports (padding-bottom: clamp( 3.125rem , 2.423245614rem  +  3.5087719298vw , 6.25rem )) {
  .services-home {
    padding-bottom: clamp( 3.125rem , 2.423245614rem  +  3.5087719298vw , 6.25rem );
  }
}

@supports not (padding-bottom: clamp( 3.125rem , 2.423245614rem  +  3.5087719298vw , 6.25rem )) {
  .services-home {
    padding-bottom: calc(3.125rem + 3.125 * (100vw - 20rem) / 89.0625);
  }
}

.services-home__title:not(:last-child) {
  margin-bottom: 1.40625em;
}

.services-home__slider-pagination {
  margin-top: 1.875rem;
}

.item-services-home__image-ibg {
  width: 100%;
  padding-bottom: 100%;
}

.item-services-home__image-ibg::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: rgba(0, 0, 0, 0.34);
}

.item-services-home__image-ibg::after {
  content: "";
  position: absolute;
  z-index: 3;
  width: 130%;
  height: 25%;
  bottom: -5%;
  left: -15%;
  background-color: #161616;
  -webkit-filter: blur(2.1875rem);
          filter: blur(2.1875rem);
  -webkit-transform: matrix(1, 0.01, -0.02, 1, 0, 0);
      -ms-transform: matrix(1, 0.01, -0.02, 1, 0, 0);
          transform: matrix(1, 0.01, -0.02, 1, 0, 0);
}

.item-services-home__image-ibg:not(:last-child) {
  margin-bottom: 1.875rem;
}

.item-services-home__name {
  position: absolute;
  z-index: 4;
  font-family: "Krylon";
  font-style: normal;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 90%;
  letter-spacing: 0.05em;
  bottom: 5.6818181818%;
  color: #ff3874;
  width: 100%;
  text-align: center;
}

.item-services-home p {
  position: relative;
  z-index: 5;
  text-align: center;
  font-size: 1.125rem;
  line-height: 90%;
  letter-spacing: 0.05em;
}

.item-services-home p:not(:last-child) {
  margin-bottom: 1em;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (min-width: 47.99875em) {
  .services-home__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 5rem;
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .services-home__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 45%;
            flex: 0 0 45%;
  }

  .services-home__slider-pagination {
    display: none;
  }
}

@media (min-width: 61.99875em) {
  .services-home__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30%;
            flex: 0 0 30%;
  }
}

@media (min-width: 81.25em) {
  .services-home__slide {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 25.6559766764%;
            flex: 0 0 25.6559766764%;
  }
}

@media (max-width: 78.125em) {
  .about-us-home__text-block {
    width: 50%;
  }
}

@media (max-width: 71.875em) {
  .our-projects-home__body:not(:last-child) {
    margin-bottom: 13.1195335277%;
  }

  .our-projects-home__item_last:first-child {
    margin-left: 0;
  }

  .our-projects-home__item_last .our-projects-home__text-block {
    left: -5%;
    top: 105%;
  }

  .our-projects-home__item_last {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 13.4110787172%;
            flex: 0 0 13.4110787172%;
  }

  .our-projects-home__item_middle .our-projects-home__text-block {
    left: -7%;
    top: 104%;
  }

  .our-projects-home__item_middle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 16.3265306122%;
            flex: 0 0 16.3265306122%;
  }

  .our-projects-home__item_center .our-projects-home__text-block {
    left: -20%;
    top: 98%;
  }

  .our-projects-home__item_center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 20.4081632653%;
            flex: 0 0 20.4081632653%;
  }

  .our-projects-home__number:not(:last-child) {
    margin-bottom: 0.3703703704em;
  }

  .about-us-home__text-block {
    width: 58%;
  }

  .about-us-home__image-ibg_contain::after {
    -webkit-filter: blur(2.1875rem);
            filter: blur(2.1875rem);
  }

  .about-us-home__image-ibg_contain {
    width: 97%;
    right: -40%;
  }
}

@media (max-width: 61.99875em) {
  ._main-button {
    padding: 1.25rem 0;
  }

  .our-projects-home__link {
    width: 15.625rem;
  }

  .about-us-home__title:not(:last-child) {
    margin-bottom: 1.76em;
  }

  .about-us-home__name {
    font-size: 1.75rem;
  }

  .about-us-home__role {
    font-size: 1.25rem;
  }

  .about-us-home__image-ibg_contain::after {
    -webkit-filter: blur(1.5625rem);
            filter: blur(1.5625rem);
  }
}

@media (max-width: 47.99875em) {
  ._swiper-pagination {
    gap: 0.5625rem;
  }

  ._swiper-pagination .swiper-pagination-bullet {
    width: 0.5625rem;
    height: 0.5625rem;
  }

  ._swiper-pagination .swiper-pagination-bullet-active {
    width: 3.375rem;
  }

  .header__first-logo p {
    font-size: 1.25rem;
  }

  .header__main-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 6.25rem;
            flex: 0 0 6.25rem;
  }

  .menu__body {
    top: 5.75rem;
    height: calc(100% - 5.75rem);
  }

  .main-home__image-ibg {
    padding-bottom: 170%;
  }

  .our-projects-home__title:not(:last-child) {
    margin-bottom: 1.875rem;
  }

  .our-projects-home__body:not(:last-child) {
    margin-bottom: 16.0349854227%;
  }

  .our-projects-home__body {
    gap: 1.5625rem;
    -webkit-transform: translate(-4%);
        -ms-transform: translate(-4%);
            transform: translate(-4%);
  }

  .our-projects-home__item_last .our-projects-home__text-block {
    display: none;
  }

  .our-projects-home__item_last {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 14.6341463415%;
            flex: 0 0 14.6341463415%;
  }

  .our-projects-home__item_middle {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 17.0731707317%;
            flex: 0 0 17.0731707317%;
  }

  .our-projects-home__item_center .our-projects-home__image-ibg {
    margin-top: 57.6923076923%;
  }

  .our-projects-home__item_center {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 29.2682926829%;
            flex: 0 0 29.2682926829%;
  }

  .our-projects-home__number:not(:last-child) {
    margin-bottom: 0.1851851852em;
  }

  .about-us-home__text-block p span {
    display: none;
  }

  .about-us-home__name:not(:last-child) {
    margin-bottom: 0;
  }

  .about-us-home__name {
    font-size: 1.625rem;
  }

  .about-us-home__role:not(:last-child) {
    margin-bottom: 1.1875em;
  }

  .about-us-home__role {
    font-size: 1rem;
  }

  .services-home__title:not(:last-child) {
    margin-bottom: 1.71875em;
  }

  .item-services-home__name {
    font-size: 1.5625rem;
  }

  .item-services-home p {
    font-size: 1rem;
  }
}

@media (max-width: 29.99875em) {
  ._main-button {
    padding: 1rem 0;
  }

  ._swiper-pagination {
    gap: 0.375rem;
  }

  ._swiper-pagination .swiper-pagination-bullet {
    width: 0.375rem;
    height: 0.375rem;
    border-width: 0.0625rem;
  }

  ._swiper-pagination .swiper-pagination-bullet-active {
    width: 2.25rem;
  }

  .header__first-logo p {
    font-size: 1rem;
  }

  .header__main-logo {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 3.875rem;
            flex: 0 0 3.875rem;
  }

  .menu__body {
    top: 5.125rem;
    height: calc(100% - 5.125rem);
  }

  .our-projects-home__body:not(:last-child) {
    margin-bottom: 18.9504373178%;
  }

  .our-projects-home__body {
    -webkit-transform: translate(-8%);
        -ms-transform: translate(-8%);
            transform: translate(-8%);
  }

  .our-projects-home__link {
    width: 10rem;
  }

  .about-us-home__name {
    font-size: 1.375rem;
  }

  .about-us-home__image-ibg_contain::after {
    -webkit-filter: blur(0.9375rem);
            filter: blur(0.9375rem);
  }

  .about-us-home__image-ibg_contain {
    padding-bottom: 123%;
  }

  .services-home__title:not(:last-child) {
    margin-bottom: 2.34375em;
  }
}

@media (max-width: 26.25em) {
  .our-projects-home__body {
    -webkit-transform: translate(-10%);
        -ms-transform: translate(-10%);
            transform: translate(-10%);
  }
}

@media (max-width: 22.5em) {
  .our-projects-home__body {
    -webkit-transform: translate(-12%);
        -ms-transform: translate(-12%);
            transform: translate(-12%);
  }
}

@media (any-hover: hover) {
  ._main-button:hover {
    background-color: #80213d;
  }

  .spollers-menu__link:hover {
    color: #ff3874;
  }
}